.calander {
  display:flex;
  flex-direction:row;
  overflow-y:scroll;
  padding-bottom:10px;
}
.calander div {
  padding:0 10px;
  min-width: 150px;
}
.calander .selected {
  background:red;
}

.calander-content {
 display:grid;
 grid-template-columns: repeat(7, 1fr); 
 padding:0 !important;
}

.calander-content li {
  list-style-type:none;
  display:inline-block;
  font-size:12px;
  padding:4px 0;
  text-align: center;
}

.calander-content .todate{
  background:red;
  border-radius: 50%;
  color:#fff; 
} 
  
.calander-content .date-1{
  visibility: hidden;
}
.calander-content .date1{
  display: none;
}

.calander-content .day{
  font-weight: bold;
  padding:0;
}

.calander-info{
 /* display:grid; */
 /* grid-template-columns:1fr 1fr 1fr 1fr; */
}
.calander-arrow{
 display:flex;
 gap:0 10px;
}
.arrow{
 display:grid;
 align-items:center;
}
.arrow p{
 background:#0f0;
 border-radius:50%;
 padding:1em 1.3em;
}

